/* VARIABLES */
:root{
    --color-text-bw: #1a1b1a;
    --color-text-wt: #f0f0f0;
}


/* ATA STYLES */
*,
*::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER STARTED */
.container{
    color: var(--color-text-wt);
    background: #000;
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* CONTAINER ENDS */


/* MAIN SECTION STARTED */
.main_section{
    display: grid;
    place-items: center;

    color: var(--color-text-bw);
    height: 80vh;
    background: var(--color-text-wt);
    width: 30vw;
}
.main_section .input{

}
.main_section .sub_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    margin-top: -9rem;
    width: 100%;
    /* background: #000000; */
    height: 50vh;
}
.main_section .sub_section .city{
    font-size: 4rem;
    display: grid;
    place-items: center;
}
.main_section .sub_section .weather_condition{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.main_section .sub_section .humidity{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;

}
.main_section .sub_section .wind_speed{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;

}




/* SIDE SECTION STARTED */
.side_section{

}
.side_section .tiles{
    
    height: 80vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.side_section .tiles .tile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    border: 2px solid var(--color-text-wt);
    border-radius: 0.2rem;
}