@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

/* VARIABLES */
:root{
    --color-text-bw: #1a1b1a;
    --color-text-wt: #dad8d8;
    --font-family: 'Bruno Ace', cursive;
}    

.underline_AT::after{
    content: "";
    display: block;
    background: var(--color-text-wt);
    height: 2px;
}

.underline::after{
    content: "";
    display: block;
    background: var(--color-text-wt);
    height: 2px;
    width: 90%;
    transform: scaleX(0);
    transition: transform ease-in-out 0.2s;
}
.underline:hover::after{
    transform: scaleX(1);
}


/* ATA STYLES */
*,
*::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

/* CONTAINER STARTED */
.container{
    color: var(--color-text-wt);
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background-image: url(../assets/background_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    
    font-family: var(--font-family);

}    
.container .heading{
    position: absolute;
    top: 2%;
}    
.container .details .resources a{
    color: var(--color-text-wt);
    text-decoration: none;
}    

.container .details article{
    position: relative;
    margin-bottom: 2rem;
    width: 20vw;
}
/* CONTAINER ENDS */


/* MAIN SECTION STARTED */
.main_section{
    display: grid;
    place-items: center;

    color: var(--color-text-wt);
    height: 80vh;
    background: rgba(156, 155, 155, 0.26);
    border-radius: 0.6rem;
    width: 30vw;
}
.main_section .input_area{
    position: relative;
    z-index: 10;
}

.main_section .input_area input{
    font-family: var(--font-family);
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--color-text-bw);
    font-size: 1rem;
} 

.main_section .input_area button{
    font-family: var(--font-family);
    position: absolute;
    left: 80%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
}
.main_section .input_area button:hover{
    cursor: pointer;

    width: 4rem;

    background-color: rgba(245, 245, 243, 0.438);
    border-radius: 0.2rem;
}


.main_section .sub_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    margin-top: -10rem;
    width: 100%;
    height: 50vh;
}
.main_section .sub_section .weather_condition img{
    width: 3rem;
}
.main_section .sub_section .temp img{
    width: 3rem;
    mix-blend-mode: color-burn;
}
.tile .temp{
    display: grid;
    place-items: center;

}
.tile .temp img{
    width: 2rem;
    mix-blend-mode: darken;
}
.main_section .sub_section .humidity img{
    width: 3rem;
    mix-blend-mode: color-burn;
}
.main_section .sub_section .wind_speed img{
    width: 2rem;
}
.humidity_img{
    width: 2.8rem;
    filter: invert(1);
    mix-blend-mode: color-dodge;
}
.main_section .sub_section .city{
    font-size: 3rem;
    display: grid;
    place-items: center;
}
.main_section .sub_section .temp{
    font-size: 4.4rem;
}
.main_section .sub_section .weather_condition{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    font-size: 1.3rem;
    font-weight: bold;
}
.main_section .sub_section .humidity{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;

}
.main_section .sub_section .wind_speed{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;

}

.main_section .sub_section .date_time .mac_time{
    position: relative;
    width: 100%;
}

.main_section .sub_section .date_time .mac_time #time{
    position: absolute;
    bottom: -190%;
} 


/* SIDE SECTION STARTED */
.side_section{
    color: var(--color-text-wt);
}
.side_section .tiles{
    height: 80vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    flex-direction: column;
}
.side_section .tiles .tile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30rem;
    border-bottom: 2px solid var(--color-text-wt);
    border-radius: 0.2rem;
}

@media screen and  (max-width:500px) {
    .container{
        flex-direction: column;
        background-repeat: repeat;
        /* background-size: contain; */
        height: 300%;
    }
    .main_section{
        width: 90vw;
        height: 70vh;
        margin-top: 4rem;
    }
    .container .details {
        display: none;

    }
    .side_section .tiles .tile{
        width: 100vw;
        font-size: 0.8rem;
    }
    .main_section .sub_section{
        margin-top: -6rem;
    }
}

